# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build artifacts
*.test
*.out

# Go workspace
/go.work
/go.work.sum

# Vendor (si no lo usas)
vendor/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

